/*Divs die die Spiele darstellen*/
.kachel_kategorie, .kachel_persoenlichkeit, .kachel_start{
    background-color: white;
    color: black;
    border-color: red;
    boder-width: 3px;
    border-style: solid;
    float: left;
    width: 20%;
    height: 155px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 1%;
    box-shadow: 5px 5px 20px rgba(5,5,5,0.3);
}

.kachel_persoenlichkeit{
    width: 70%;
    height: 155px;
    border-color: black;
}

.kachel_persoenlichkeit:hover {
    background-color: rgb(236, 236, 236);
}



.kachelHeading {
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.containerKacheln {
    margin-left: 37%;
    margin-right: 37%;
}

.clear {
    clear: both;
}