.spielfeld {
    background-color: #898989;
    color: white;
    min-height: 100%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 10%;
    float:none;
}


.planheader {
    background-color: #ff5c2b;
    color: black;
    height: 20%;
    font-family: "Book Antiqua";
    font-size: 200%;
    text-align: center;
    //margin-top: 5%;
}

.planheader b {
    color: black;
}

body {
    min-width: 1300px;
}
.column, .columnNoHover{
    background-color: #646464;
    //background-color: black;
    float: left;
    width: 14.285%;
}
.column:hover {
    background-color: #545454;
}


.cell, .cell1, .cell2 {
    background-color: #898989;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 15%;
}

.cell1 {
    background: green;
    background: radial-gradient(circle , green 50%, black);
}

.cell2 {
    background: #ff5c2b;
    background: radial-gradient(#ff5c2b 50%, black);
}

.cellRed { background: radial-gradient(circle , red 50%, black);}
.cellYellow { background: radial-gradient(circle , yellow 50%, black);}
.cellOrange { background: radial-gradient(circle , #ff5c2b 50%, black);}
.cellGreen { background: radial-gradient(circle , green 50%, black);}
.cellDarkblue { background: radial-gradient(circle , darkblue 50%, black);}
.cellDarkred { background: radial-gradient(circle , darkred 50%, black);}




.spielfeldFrame {
    width: 100%;
    float:left;
    box-shadow: 5px 5px 20px rgba(5,5,5,0.3);
}

/*Different Cursors*/
.green {cursor: url("../cursor/stone_green.cur"), auto;}
.orange {cursor: url("../cursor/stone_orange.cur"), auto;}
.red {cursor: url("../cursor/stone_red.cur"), auto;}
.yellow {cursor: url("../cursor/stone_yellow.cur"), auto;}
.darkblue {cursor: url("../cursor/stone_darkblue.cur"), auto;}
.darkred {cursor: url("../cursor/stone_darkred.cur"), auto;}
.none {cursor: wait;}

