/****************************
       E L E M E N T E
****************************/


/* Body */
html, body {
    overflox-x: hidden;
}

body{
    padding-top: 12vh;
    padding-bottom: 15vh;
    background-color: #FFCC99;
}
/* Ende Body */





/* Resizing ab einer Fensterbreite von weniger als 1243px für die Navbar */
@media (max-width: 1243px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
/* Ende Resizing Navbar */


/* Nav */
nav{
    background-color: dimgray;
    color: #663333;
    font-weight: bold;
    padding: 0%;
}
/* Ende Nav */


/* Überschriften h1, h2, h4 */

h1{
    color: #663333;
    font-weight: bold;
    margin-top: 5vh;
}

h2{
    color: white;
    font-weight: bold;
}

h4{
    color: black;
    font-weight: bold;
}
/* Ende Überschriften */


/* Input */
input[type=text], input[type=password]{
    width: 100%;
    margin: 1vh 0vw;
    display: inline-block;
    border: 1px solid;
    border-color: black;
}
/* Ende Input */

/* Textarea */
textarea{
    width: 100%;
    padding: 2vh 3vw;
    margin: 1vh 0vw;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    resize: vertical;
}
/* Ende Textarea */


/* Select */
select {
    width: 100%;
    padding: 2vh 3vw;
    margin: 1vh 0vw;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
}
/* Ende Select */




/* p */
p {
    margin-top: 7vh;
    margin-bottom: 7vh;
}
/* Ende p */


/* Footer */
footer{
    margin-top: 20vh;
    max-height: 15vh;
}

footer > div > a {
    color: #FFCC99;
}

footer > div > a:hover {
    color: #FFCC99;
    text-decoration: underline;
}
/* Ende footer */



/****************************
       K L A S S E N
****************************/



/* Navbar */
.navbar-inverse{
    background-color: dimgray;
    color: #663333;
    border-color: black;
}

.navbar-inverse .navbar-nav> .active>a {
    background-color: #663333;
    color: white;
}

.navbar-inverse .navbar-nav> li>a {
    background-color: #663333;
    color: white;
}

.navbar-inverse .navbar-nav>.active>a>span{
    color: #FFCC99;
}
/* Ende Navbar */


/* Jumbotron */
.jumbotron{
    font-size: medium;
    background-color: #663333;
    color: white;
}
/* Ende Jumbotron */

/* Clear */
.clear {
    clear: both;
}
/* Ende Clear */


/* Überschrift p_h1 */
.p_h1{
    color: black;
    font-weight: bolder;
    font-size: large;
}
/* Ende Überschrift p_h1 */


/* Panel */
.panel, .panel_kategorie{
    background-color: #663333;
    color: white;
    font-size: xx-large;
    align-content: center;
    border-color: black;
    border-width: 4px;
    height: auto;
}

.panel_kategorie{
    width: 48%;
}

.panel-heading{
    background-color: #be5959;
    color: #FFCC99;
    text-shadow: -1px 0 #663333, 0 1px #663333, 1px 0 #663333, 0 -1px #663333;
    font-weight: bold;
}

.panel-heading-persoenlichkeit {
    height: 8vh;
}

.panel-body{
    background-color: #663333;
    color: white;
    font-size: large;
}

.panel-body-persoenlichkeit {
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-body::-webkit-scrollbar
{
    width: 0.75vw;  /* for vertical scrollbars */
}

.panel-body::-webkit-scrollbar-track
{
    border: 1px solid;
    border-color: black;
    background: #663333;
}

.panel-body::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.panel-body:hover {
    text-underline: none;
}
/* Ende Panel */


/* Kachel */
.containerKachelnStart {
    margin-left: 37%;
    margin-right: 37%;
}

.containerKachelnPersoenlichkeit, .containerKachelnKategorien{
    margin-left: 9%;
    margin-right: 9%;
}

.kachel_kategorie, .kachel_persoenlichkeit, .kachel_start{
    border-width: 3px;
    border-style: solid;
    float: left;
    box-sizing: border-box;
    margin: 1%;
    border-radius: 1%;
    box-shadow: 5px 5px 20px rgba(5,5,5,0.3);
}

.kachel_persoenlichkeit{
    width: 48%;
    height: auto;
    border-color: black;
    background-color: #663333;
}

.kachel_kategorie{
    width: 48%;
    height: 20vh;
    border-color: black;
    background-color: #663333;
    color: white;
}

.kachel_start {
    float: none;
}

.kachel_kategorie:hover, .kachel_persoenlichkeit:hover, .kachel_start:hover {
    cursor: pointer;
    border-color: #be5959;
    box-shadow: 5px 5px 20px #663333;
}

.kachel_kategorie *:hover, .kachel_persoenlichkeit *:hover, .kachel_start *:hover {
    cursor: pointer;
}

.kachelHeading {
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
/* Ende Kachel */


/* Alert */
.alert{
    margin-bottom: 3vh;

}

.alert-info{
    background-color: #663333;
    color: white;
    border-color: black;
}

.alert-danger{
    background-color: #CC3300;
    color: white;
    border-color: black;
}

.alert-success{
    background-color: white;
    color: black;
    border-color: black;
}
/* Ende Alert */

/* Button */
.btn{
    background-color: #be5959;
    color: #FFCC99;
    text-shadow: -1px 0 #663333, 0 1px #663333, 1px 0 #663333, 0 -1px #663333;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    border-color: #be5959;
    box-shadow: 5px 5px 20px #663333;
    color: #FFCC99;
}

.btn_add{
    background-color: #be5959;
    color: #FFCC99;
    text-shadow: -1px 0 #663333, 0 1px #663333, 1px 0 #663333, 0 -1px #663333;
    font-weight: bold;
    margin-left: 1%;
    margin-bottom: 10px;
}

.btn_add:hover {
    box-shadow: none;
}

.btn_noeffect:hover {
    box-shadow: none;
}
/* Ende Button */

/* Title Image */
.title_image {
    display: block;
    overflow: hidden;
    position: relative;
    border: 4px solid;
    border-color: black;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 1em;
    margin-bottom: 4%;
    max-width: 100%;
}

.title_image:before {
    content: "";
    display: block;
    width: 100%;
}

.title_image--32by9:before {
    padding-bottom: 28.125%;
}
/* Ende Title Image */


/* Profile Image */
.profile_image {
    float: left;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 80%;
}

.profile_image_form {
    float: none;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin-bottom: 10px;
}

.profile_image:before {
    display: block;
    content: "";
    width: 100%;
}

.profile_image--1by1 {
    padding-bottom: 50%;
}

.profile_image_uebersicht {
    float: none;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
}
/* Ende Profile Image */


/* Steckbrief | Charateristics */
.characteristics {
    float: left;
    margin: 2%;
    max-width: 45%;
    font-size: large;
}

.charac_label {
    width: 100%;
}
/* Ende Steckbrief | Charateristics */


/* Create */
.create {
    width: 100%;
    float: left;
}

.create * {
    width: 30%;
    margin: 1%;
    display: inline-block;
}

.create-text{
    width: 100%;
    float: left;
    margin: 1%;
}

.create-text *{
    width: 97.25%;
}

.create-zitat {
    width: 100%;
    float: left;
    margin: 1%;
}

.create-zitat *{
    width: 50%;
}

.create-einzeilig {
    width: 100%;
    margin: 1%;
    float: left;
    max-height: 45px;
}
/* Ende Create */


/* Information */
.information {
    margin: 2%;
    margin-top: -2%;
    width: 45%;
    display: inline-block;
}

.information-content {
    float: left;
    margin: 2%;
    width: 100%;
    font-size: large;
}
/* Ende Information */


/* Glyphicons */
.glyphicon-plus, .glyphicon {
    border: none;
}
/* Ende Glyphicons */


.epochen_auswahl, .kategorien_auswahl {
    max-width: 95%;
}

/****************************
       I D S
****************************/



/* Link */
#link_persoenlichkeit, #link_information, #link_kategorie, #link_epoche {
    color: #FFCC99;
}

#link_persoenlichkeit:hover, #link_information:hover, #link_kategorie:hover, #link_epoche:hover {
    text-underline: none;
}
/* Ende Link */


/* Neu-Seite Inputs */
#ne_input {
    display: none;
}

#nk_input {
    display: none;
}

/* Suchen */
#suchen_button{
    background-color: #663333;
    color: #FFCC99;
    text-shadow: -1px 0 #663333, 0 1px #663333, 1px 0 #663333, 0 -1px #663333;
    font-weight: bold;
    border-color: black;
}

#input_suchen{
    margin-bottom: 0;
    margin-top: 0;
}
/* Ende Suchen */


/* Kontakt */
#kontakt{
    color: #663333;
    margin-left: 1vw;
}
/* Ende Kontakt */


/* Daten */
#todestag,#geburtsdatum{
    text-shadow: none;
    font-weight: bold;
    color: white;
    font-size: small;
    align-content: center;
}
/* Ende Daten */


/* Kategorie */
#kategorie_label {
    font-size: xx-large;
}
/* Ende Kategorie */


/* Unsichtbar */
#unsichtbar{
    color: dimgray;
}
/* Ende Unsichtbar */


/* Button */
#p_button{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    margin-top: 1vh;
    margin-left: -17vw;
}

#btn_anlegen {
    margin-left: 1%;
}

#btn_bearbeiten {
    float: right;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
}

#btn_abbrechen, #btn_anlegen, #btn_loeschen {
    float: left;
}

#btn_abbrechen:hover, #btn_anlegen:hover, #btn_loeschen:hover {
    box-shadow: none;
}
/* Ende Button */


/* Button Persönlichkeit anlegen */
#button_persoenlichkeit_anlegen {
    margin-left: 0%;
}
/* Ende Button Persönlichkeit anlegen */


#panel_text {
    width: 94%;
}

/* Literatur Ort */
#p_literatur_ort{
    width: 60%;
}
/* Ende Literatur Ort */
